<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Форма регистрации</title>
</head>
<body>


<div th:if="${message}">
    Такой пользователь уже существует!<br>
</div>
<form th:action="@{/registration}" method="post">
    <div><label> Ваше Имя : <input type="text" name="name"/> </label></div>
    <div><label> Ваш e-mail : <input type="email" name="email"/> </label></div>
    <div><label> Ваш Ник : <input type="text" name="nick"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Регистрация"></div>
</form>

</body>
</html>